<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-button
          margin
          color="primary"
          [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place?.id]"
          >Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>